<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">

<head>
    <div th:insert="~{default :: head}"></div>
    <script data-th-src="@{/js/main.js}"></script>
</head>

<body class="w3-light-grey">

<div th:insert="~{default :: #mySidebar}"></div>

<div class="w3-main page-content">


        <div class="report-table">
        <table id="reports_table" class="table-striped">
            <thead>
            <tr>
                <th>Время</th>
                <th>Вып.</th>
                <th>Код рецепта</th>
                <th>Тип АБС</th>
                <th>Щебень 0-5</th>
                <th>Щебень 5-10</th>
                <th>Щебень 10-20</th>
                <th>Щебень 20-40</th>
                <th>Целлюлоза</th>
                <th>Мин доб</th>
                <th>Пыль</th>
                <th>Битум</th>
                <th>Температура</th>
                <th>Перемеш, сек</th>
                <th>Вес, кг</th>
                <th>Вес всего, кг</th>
                <th>Оператор</th>
            </tr>
            </thead>
            <tbody id="reports-body">
            <tr class="result" data-th-each="report : ${reports}">
                <td>[[${report.dateTime}]]</td>
                <td>[[${report.num}]]</td>
                <td>[[${report.code}]]</td>
                <td>[[${report.rName}]]</td>
                <td>[[${report.rub05}]]</td>
                <td>[[${report.rub510}]]</td>
                <td>[[${report.rub1020}]]</td>
                <td>[[${report.rub2040}]]</td>
                <td>[[${report.cellulose}]]</td>
                <td>[[${report.mineral}]]</td>
                <td>[[${report.dust}]]</td>
                <td>[[${report.bitum}]]</td>
                <td>[[${report.temper}]]</td>
                <td>[[${report.mixTime}]]</td>
                <td>[[${report.weight}]]</td>
                <td>[[${report.allWeight}]]</td>
                <td>[[${report.oper}]]</td>
            </tr>
            </tbody>
        </table>
        </div>

    </div>
</div>

<div th:insert="~{default :: #snackbar}"></div>

<script>
    $('#table-panel').show();
    $("#auto-start-btn").addClass( "color-start" );
</script>

<script>
    w3_select(document.getElementById('index_href'))
</script>

<script>
    var months = ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'];
    var days = ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'];

    $( "#report-date-input" ).datepicker({
        dateFormat: 'yy-mm-dd',
        monthNames : months,
        dayNamesMin : days,
    });


    $('#start-form').submit(function(){
        $.ajax({
            url: $('#start-form').attr('action'),
            type: 'POST',
            data : $('#start-form').serialize(),
            success: function(){
                $('#reports_table tbody').empty();
                flux.start();
            }
        });
        return false;
    });
</script>

</body>

</html>