<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">

<head>
    <div th:insert="~{default :: head}"></div>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>

<body class="w3-light-grey">

<div th:insert="~{default :: top_container}"></div>
<div th:insert="~{default :: #mySidebar}"></div>

<div class="w3-main page-content">
        <div class="tittle">
            <h1>Основной обзор</h1>
        </div>

        <div class="report-table">
        <table id="reports_table" class="table-striped" style="overflow-x:auto;">
            <thead>
            <tr>
                <th width="50%">Время</th>
                <th width="5%">Вып.</th>
                <th width="5%">Рецепт</th>
                <th width="5%">Обозначение</th>
                <th width="5%">Щебень 5-10</th>
                <th width="5%">Щебень 10-20</th>
                <th width="5%">Щебень 20-40</th>
                <th width="5%">Целлюлоза</th>
                <th width="5%">Мин доб</th>
                <th width="5%">Пыль</th>
                <th width="5%">Битум</th>
                <th width="5%">Температура</th>
                <th width="5%">Перемеш, сек</th>
                <th width="5%">Вес, кг</th>
                <th width="5%">Вес всего, кг</th>
                <th width="5%">Оператор</th>
            </tr>
            </thead>
            <tbody id="reports-body">
            <tr class="result" data-th-each="report : ${reports}">
                <td style="display: none">[[${report.id}]]</td>
                <td>[[${report.dateTime}]]</td>
                <td>[[${report.num}]]</td>
                <td>[[${report.code}]]</td>
                <td>[[${report.rName}]]</td>
                <td>[[${report.rub05}]]</td>
                <td>[[${report.rub510}]]</td>
                <td>[[${report.rub1020}]]</td>
                <td>[[${report.rub2040}]]</td>
                <td>[[${report.cellulose}]]</td>
                <td>[[${report.mineral}]]</td>
                <td>[[${report.dust}]]</td>
                <td>[[${report.bitum}]]</td>
                <td>[[${report.temper}]]</td>
                <td>[[${report.mixTime}]]</td>
                <td>[[${report.weight}]]</td>
                <td>[[${report.allWeight}]]</td>
                <td>[[${report.oper}]]</td>
            </tr>
            </tbody>
        </table>
        </div>

</div>

<script data-th-src="@{/js/main.js}"></script>
<script>
    w3_select(document.getElementById('index_href'))
</script>

</body>

</html>