<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <div th:insert="~{default :: head}"></div>
</head>

<body w3-light-grey>

<div th:insert="~{default :: #mySidebar}"></div>

<div class="w3-main page-content">
    <div class="tittle">
        <h1>Отчеты</h1>
    </div>

</div>

<div class="container">
    <form action="#" th:action="@{/report/main}" th:object="${model}" method="post"  autocomplete="off">

        <div class="row">
            <div class="col-25">
                <label for="report_select">Отчет:</label>
            </div>
            <div class="col-30">
                <select id="report_select" th:field="*{report}">
                    <option value="main_report">Отчет производства</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="check_format">За период:</label>
            </div>
            <div class="col-25" style="padding-top:13px">
                <input type="checkbox" id="check_end_date" th:field="*{endDate}">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="date_input">Дата с:</label>
            </div>
            <div class="col-25">
                <input type="text" id="date_input" th:field="*{dateInput}" placeholder="Введите дату">
            </div>
        </div>

        <div id="end_date_row" class="row" style="display: none">
            <div class="col-25">
                <label for="date_input">Дата по:</label>
            </div>
            <div class="col-25">
                <input type="text" id="end_date_input" th:field="*{endDateInput}" placeholder="Введите дату">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="check_format"> Другие форматы</label>
            </div>
            <div class="col-25" style="padding-top:13px">
                <input type="checkbox" id="check_format" th:field="*{print}">
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Отправить">
        </div>
    </form>
</div>

<div th:insert="~{default :: #snackbar}"></div>

<script>
    w3_select(document.getElementById('reports_href'))
</script>
<script>
    $( function() {

        var months = ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'];
        var days = ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'];

        $( "#date_input" ).datepicker({
            dateFormat: 'yy-mm-dd',
            monthNames : months,
            dayNamesMin : days,
        });

        $( "#end_date_input" ).datepicker({
            dateFormat: 'yy-mm-dd',
            monthNames : months,
            dayNamesMin : days,
        });

        $('#check_end_date').change(function() {
            if(this.checked) {
                $('#end_date_row').attr('style','display: block');
            }
            else {
                $('#end_date_row').attr('style','display: none');
            }
        });
    } );
</script>
</body>
</html>